#first_heading {
	background-image: url("cross.jpg");
	width: 400px;
	height: 70px;
	 font-family: "Times New Roman", Times, serif;
	 font-size: 30px;
	 font-weight: bold;
	 margin: auto;
	 text-align: center;
	 color: white;
	 border-radius: 15px;
	 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#second_heading {
  background: #000080;
  width: 400px;
  height: 60px;
   font-family: "Times New Roman", Times, sans-serif;
   font-size: 40px;
   font-weight: bold;
   margin: auto;
   text-align: center;
   color: white;
   border-radius: 15px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
}

.button {
    background-color: #20B2AA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   margin: 100px 600px;
    cursor: pointer;
    position: relative;

}

.view {
    background-color: #DC143C;
    border: 5px solid #FF7F50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  	margin: 1px 380px;
  	width:500px;
  	border-radius: 15px;
  	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}
